* {
  padding: 0;
  box-sizing: border-box;
}

.forgot-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20vh auto;
  text-align: center;
  width: 30vw;
  height: 60vh;
  padding: 20px 5px;
  background: linear-gradient(to bottom right, #475c92, #882929 90%);
  line-height: 10px;
}
.input-element p {
  color: #ffffff;
  font-size: 14px;
  margin: 2vh;
}

.input-element input {
  width: 100%;
  margin-top: -5px;
  height: 20px;
  border-radius: 4px;
  outline: none;
  border: none;
}
