* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-template-columns: 5vw 5fr;
  gap: 4px;
  margin: 2px 2px 2px 0px;
}

.content-resize {
  display: grid;
  grid-template-columns: 15vw 5fr;
  gap: 4px;
  margin: 2px 2px 2px 0px;
}